/* ========== CSS CUSTOM PROPERTIES ========== */

:root {
  /* TODO: Add CSS variables here */


  --white:      #FFFFFF;
  --black:      #000000;
  --dark-gray:  #404040;
  --light-gray: #EBEBEB;
  --yellow:     #FFE600;

  /* Typography */
  --font-family-base: Montserrat, sans-serif;
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --line-height-base: 1.5;

  
  /* Background Colors */
  --bg-primary:     #FFFFFF; 
  --bg-secondary:   #000000; 
  --bg-accent:      #FFE600; 
  /* --bg-dark: ; */
  /* --bg-light: ; */
  /* --bg-white: ; */

  /* Text Colors */
  --text-primary:       #404040; 
  --text-title-color:   #000000; 
  /* --text-secondary: ; */
  --text-accent:        #FFE600; 
  /* --text-light: ; */
  /* --text-dark: ; */
  /* --text-white: ; */

  /* Border Colors */
  /* --border-primary: ; */
  /* --border-secondary: ; */
  /* --border-light: ; */

  /* Button Colors */
  /* --btn-bg-primary: ; */
  /* --btn-bg-secondary: ; */
  /* --btn-text-primary: ; */
  /* --btn-text-secondary: ; */
  /* --btn-hover-bg: ; */
  /* --btn-hover-text: ; */

  /* Semantic Colors */
  /* --color-success: ; */
  /* --color-warning: ; */
  /* --color-error: ; */
  /* --color-info: ; */
}
